@import "variables";

.profile-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;

  border: 2px solid transparent;
  border-radius: 2px;
  box-shadow: 0px 3px 6px #00000029;

  &:hover,
  &:active {
    border: 2px solid $green;
    cursor: pointer;
  }
}

.avatar-small {
  width: 4.6875rem;
}

.name {
  font-weight: bold;
  padding-bottom: 1rem;
}

.heart-icon {
  width: 2rem;
}
