<h1 class="heading">{{ workerDetailsTitle | uppercase }}</h1>
<div class="profile-box">
  <button (click)="close(true)" class="close-btn">
    <img src="/assets/Close.svg" />
  </button>
  <div>
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
      <img src="/assets/User.svg" class="avatar-big" />
      <div class="text-center text-md-right">
        <div class="name">{{ worker.name }}</div>
        <div style="font-weight: normal">{{ worker.sex }}</div>
      </div>
    </div>
    <div class="active-projects-header">Aktywny projekt</div>
    <span *ngFor="let project of worker.projects; let last = last" 
          class="project-name">
          {{ project }} {{last ? '' :  ', '}}
    </span>
  </div>
  <div class="text-right">
    <img src="/assets/Heart.svg" class="heart-icon" /> {{ worker.beats }}
  </div>
</div>
